body {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Roboto,"Helvetica Neue","Noto Sans",Arial,sans-serif !important;
}
.bg-header {
    background-color: #152c3e;
    padding-left: 0.7em !important;
    padding-right: 0.7em !important;
}
.c_lista {
    color: white;
    font-size: 1.3em !important;
    font-weight: bolder;
    line-height: 1.3em !important;
}
.c_check {
    color: #febd69;
    font-size: 1.5em !important;
    font-weight: bolder;
    line-height: 0.20em;
}
.img_logo {
    margin-top: -2em !important;
    margin-left: -0.1em !important;
    line-height: 0.10em;
}
.H_div {
    line-height: 1.2em;
    margin-top: -0.5em !important;
}
.btn_search {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5em;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #febd69;
    border: 0.03125em solid #febd69 !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form_border {
    border-radius: 0 !important;
    margin-left: 0!important;
}

@media (min-width: 992px) {
    .wd-search {
        width: 100%;
    }
}

.btn_border {
    border-radius: 1em !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: 2.8em;
}

.btn_border_search {
    border-radius: 1em !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn_cor {
    color: #000 !important;
    background-color: #f2f2f2 !important;
    border: 0.0625em solid #f2f2f2 !important;
}

/* Hover do fazer login,pedidos,carrinho */
.hover_container>li>a {
    color: #fff !important;

}

.hover_container>li>a:hover {
    color: #febd69 !important;
}

.btn-outline-menu-navbar:focus {
    box-shadow: 0 0 0 0.25rem #febd697a !important;
}

.carrosel1 {
    margin: 1rem !important;
    margin-top: 0px !important;

}

.btn_cor2 {
    color: white !important;
    background-color: #37475a !important;
    font-size: 1.5em !important;
    font-weight: bold !important;

}

.menucateg {
    background-color: #37475a !important;
    padding: 0.02em;
    box-shadow: none !important;
}

.menucateg>ul>li>a {
    color: white !important;
    font-size: 1em !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.menucateg>ul>li>button {
    color: white !important;
    font-size: 1em !important;
    font-weight: bold !important;
    text-decoration: none !important;
    border: none;
}

.menucateg>ul>li>a:hover {
    color: #febd69 !important;
}

.container-fluid {
    padding: 0px !important;
}

.footer_style {
    text-decoration: none !important;
    font-weight: normal !important;
    background-color: #37475a !important;
    margin: 0px !important;
}


.footer-title {
    color: #febd69 !important;
    font-weight: bold !important;
    text-decoration: none;
    font-size: 1.5em !important;
    font-weight: bold;
    background-color: #37475a !important;
    border: none !important;
    border-width: 0 !important;
    box-shadow: none !important;
}
.footer_style_end {
    color: #febd69 !important;
    font-size: 1em !important;
    text-decoration: none;
}

.lista_footer {
    color: white !important;
    text-decoration: none !important;
    font-size: 1.125em;
}

.lista_footer:hover {
    color: #febd69 !important;
    text-decoration: none;
}

.footer_end {
    background-color: #37475a !important;
    color: #febd69 !important;
}

.footer_end>p {
    color: #febd69 !important;
    text-align: center !important;
    line-height: 1em !important;
    font-weight: bold !important;
}

.Linha-rodape {
    border-top: 0.1em solid #f2f2f2 !important;
    margin-top: 0.1em !important;
}

.bg-rodape {
    background-color: #37475a;
}

.img_rodape {
    padding-left: 5em;
}

.sanfona_item {
    border: none !important;
    background-color: #37475a !important;
    list-style: none;
}
.titulos_index{
    color: #37475a;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
  }
.menu_categ_fix{
    color: #febd69 !important;
    font-size: 1em !important;
    font-weight: bold !important;
    text-decoration: none !important;
    margin: 0em!important;
}
@media (max-width: 688px) {
    .lista_footer {
        font-size: 0.8em !important;
    }

    .footer_end>p {
        font-size: 0.9em !important;
        line-height: 1.2em !important;
    }

    .bg-rodape {
        font-size: 0.8em !important;
    }

    .social_media {
        width: 1em !important;
        height: 1em !important;
    }

    .footer-title {
        font-size: 1em !important;
    }

    .img_rodape {
        width: 1em !important;
        height: 1em !important;
        padding-left: 0;
    }

    .sanfona_item>h2>ul {
        padding-inline-start: 0em !important;
        list-style: none;
    }
}
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .banneran{
        height: 10rem !important;
    }