.titulo-central{
    background-color: #f2f2f2;
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-weight: bold;
    color: #fdbd69;
}
.titulo-item{
    font-weight: bold;
    color: black;
}
.texto-interno{
    display: inline-block;
    font-size: large;
}
.imagem-produto{
    width: 180px;
    height: 180px;
    display: inline-block;
    padding: 0px;
    border: 0px;
    margin-bottom: 0px;
}
#accordion1{
    position: inherit;
    width: inherit;
}
.button{
    background-color: #fdbd69;
}
.accordion-body{
    width: inherit;
}