.imagem-prod {
    width: 120px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    object-fit: contain;
}

.card_prod {
    align-items: center !important;
    border-radius: 10%;
    padding: 1px !important;
    font-size: 12px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 24px;
}

.btn-buy {
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    opacity: 0;
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.card_prod:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_prod:hover .btn-buy {
    position: absolute;
    display: block;
    visibility: visible;
    opacity: 1;
}

.subtituloprod {
    margin-top: 24px;
}

.titulopagprod {
    text-align: center;
    margin-top: 24px;
}

.btn-primary {
    background-color: #37457a;

}