/* Resetar body */
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    background-color:#f2f2f2;
}

.titulos{
    font-family: helvetica;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: flex-end;
}

.carrinho-de-compras {
    font-family: helvetica;
    border: 1px solid #2e2e2e;
    border-right-width: 0;
    border-left-width: 0;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.info-produto {
    font-family: helvetica;
    display: flex;
    align-items: center;
    gap: 30px;
}

.finalizar-pedido{
    font-family: helvetica;
    font-size:20px;
    font-style: normal;
    color:black;
    position: relative;
    padding: 0px 15px;
    text-align: right;
    
}

.myButton {
	box-shadow:inset 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    position: relative;
    
}

.myButton:hover {
    background: #37475a;
    color: #fff;
    transition: 0.3s all;
}

.myButton:active {
	position:relative;
	top:1px;
}

.button-remover{
    color: white;
    border: none;
    background-color: red;
    border-radius: 15%;
    padding: 0 5px;
    
}

.button-remover:hover{
    outline: auto;

}

.info-preco h3 {
    font-family: helvetica;
    font-size: 20px;
    font-style: normal;
    color: black;
} 

@media (max-width: 1068px) {
    h6 {
        font-size: 14px;
    }
}

@media (max-width: 1050px) {
    .carrinho-de-compras {
        display: block;
        width: 98%;
        margin: 0 auto;
        border: 1px solid;
    }
    h1.titulo-preco {
        display: none;
    }
    .info-preco h3 {
        margin-left: 210px;
    }
    p.subtotal {
        margin-top: 30px;
    }
}

@media (max-width: 789px) {
    .carrinho-de-compras {
        padding: 10px 15px;
    }
    .info-preco{
        margin-top: 16px;
    }
}

@media (max-width: 767px) {
    .info-produto {
        display: block;
    }
    .info-preco h3 {
        margin: 0px;
    }
    .carrinho-de-compras {
        text-align: center;
        padding-bottom: 40px;
    }
    .finalizar-pedido {
        text-align: center;
    }
}
