a:hover {
    color: #0056b3;
    text-decoration: underline;
}

div {
    display: block;
}

.card-body {
    text-align: center;
    margin: auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.50rem;
}

.card {
    padding: auto;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 5px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

a {
    color: orange;
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid orange;
}

.center {
    font-family: times new roman;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(64, 128, 224);
    padding: auto;
    margin: auto;
}

.h1 {
    font-family: times new roman;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    text-align: center;
}

.center2 {
    font-family: times new roman;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: darkorchid;
    padding: auto;
    margin: auto;
}

.p {
    font-size: 13px;
}
* {
    text-decoration: none !important;
    color: #232f3e;
}
.row{
    padding: 0 !important;
}

.corpo_card{
    height: 50em !important;
}
.btn_hover:hover{
    background-color: #febd69;
}
.corpo_card_2{
    height: 30em !important;
}